@font-face {
    font-family: bm-dohyeon;
    src: url("/assets/fonts/BMDOHYEON_ttf.ttf");
}

@font-face {
    font-family: black-han-sans;
    src: url("/assets/fonts/BlackHanSans-Regular.ttf");
}

@font-face {
    font-family: aggro-b;
    src: url("/assets/fonts/SB 어그로 B.ttf");
}

@font-face {
    font-family: aggro-l;
    src: url("/assets/fonts/SB 어그로 L.ttf");
}

@font-face {
    font-family: aggro-m;
    src: url("/assets/fonts/SB 어그로 M.ttf");
}

.custom-overlay:hover, .artists .item img:hover + .custom-overlay {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    padding: 15px;
}

div.font-family-aggro-b span, span.font-family-aggro-b {
    font-family: aggro-b !important;
}

div.font-family-aggro-l span, span.font-family-aggro-l {
    font-family: aggro-l;
}

div.font-family-aggro-m span, span.font-family-aggro-m {
    font-family: aggro-m;
}


#section1 .custom-container .content {
    justify-content: center;
}

.font-size-lg-10 {
    font-size: 10px;
}

.font-size-lg-17 {
    font-size: 17px;
}

.font-size-lg-20 {
    font-size: 20px;
}

.font-size-lg-24 {
    font-size: 24px;
}

.font-size-lg-30 {
    font-size: 30px;
}

.font-size-lg-32 {
    font-size: 32px;
}

.font-size-lg-36 {
    font-size: 36px;
}

.font-size-lg-40 {
    font-size: 40px;
}

.font-size-lg-42 {
    font-size: 42px;
}

.font-size-lg-46 {
    font-size: 46px;
}

.font-size-lg-48 {
    font-size: 48px;
}

.font-size-lg-54 {
    font-size: 54px;
}

.font-size-lg-56 {
    font-size: 56px;
}

.font-size-lg-64 {
    font-size: 64px;
}

.font-size-lg-80 {
    font-size: 80px;
}

span.font-white, div.font-white span {
    color: white !important;
}

span.font-black, div.font-black span {
    color: black !important;
}

.slide-scroll {
    display: none;
    overflow: scroll;
    max-width: 100%;
    padding-left: 250px;
    padding-right: 250px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.slide-scroll-lg {
    display: flex;
}

.slide-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.scroll-slide-1 {
    position: relative;
    margin-right: 0;
}

.scroll-slide-2 {
    position: relative;
    margin-right: 0;
}

.scroll-slide-3 {
    position: relative;
}

.scroll-slide-1::before {
    content: "";
    width: 275px;
    height: 275px;
    position: absolute;
    top: 15px;
    left: -155px;
    background: url("/assets/images/ucc/scroll-slide-icon-lg-1.png");
}

.scroll-slide-2::before {
    content: "";
    width: 201px;
    height: 209px;
    position: absolute;
    top: -60px;
    right: -100px;
    z-index: 10;
    background: url("/assets/images/ucc/scroll-slide-icon-lg-2.png");
}

.scroll-slide-3::before {
    content: "";
    width: 273px;
    height: 283px;
    position: absolute;
    bottom: 30px;
    right: -165px;
    background: url("/assets/images/ucc/scroll-slide-icon-lg-3.png");
}

#section6 .artists {
    width: 112% !important;
    position: relative;
    /*left: -6%;*/
}

#section1 .custom-container {
    max-width: 1024px;
    margin: auto;
    height: 970px;
}

.image-box {
    width: 1000px;
    height: 680px;
    position: absolute;
    bottom: 140px;
    right: -440px;
}

#screen1 {
    width: 50%;
    position: absolute;
    bottom: 55px;
    left: 45px;
}

#artist-circle1 {
    position: absolute;
    top: -15px;
    right: 230px;
    width: 21%;
    -webkit-animation: blink normal 4500ms infinite ease-in-out;
}

#artist-circle2 {
    position: absolute;
    top: -5px;
    right: 40px;
    width: 13%;
    -webkit-animation: blink normal 4700ms infinite ease-in-out;
}

#artist-circle3 {
    position: absolute;
    right: 325px;
    bottom: 285px;
    width: 16%;
    -webkit-animation: blink normal 5100ms infinite ease-in-out;
}

#artist-circle4 {
    position: absolute;
    right: 15px;
    bottom: 290px;
    width: 23.5%;
    -webkit-animation: blink normal 4200ms infinite ease-in-out;
}

#artist-circle5 {
    position: absolute;
    right: 405px;
    bottom: 30px;
    width: 22%;
    -webkit-animation: blink normal 4800ms infinite ease-in-out;
}

#artist-circle6 {
    position: absolute;
    right: 195px;
    bottom: 135px;
    width: 15%;
    -webkit-animation: blink normal 5900ms infinite ease-in-out;
}

#artist-circle7 {
    position: absolute;
    right: -90px;
    bottom: 20px;
    width: 25%;
    -webkit-animation: blink normal 5300ms infinite ease-in-out;
}
.squares {
    display: flex;
    justify-content: center;
}
.squares img {
    width: 310px;
    margin-right: 22px;
    margin-left: 22px;
}
.screens-4 {
    padding: 3rem 0;
    justify-content: center;
}
#section5 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

@media (max-width: 1024px) {
    #section5 {
        padding-top: 6rem;
        padding-bottom: 4rem;
    }
    .screens-4 {
        padding: 3rem 4rem;
    }
    .squares {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .squares img {
        width: 451px;
    }

    .slide-scroll {
        display: flex;
        overflow: scroll;
        max-width: 100%;
        padding-left: 250px;
        padding-right: 250px;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .slide-scroll-lg {
        display: none;
    }

    .image-box {
        width: 850px;
        height: 575px;
        position: absolute;
        bottom: 70px;
        right: -150px;
    }

    #section1 .custom-container .content {
        justify-content: start;
    }

    #section1 .custom-container {
        max-width: 724px;
        margin: auto;
    }

    #screen1 {
        width: 49%;
        position: absolute;
        top: -60px;
        left: 60px;
    }

    #artist-circle1 {
        position: absolute;
        top: -85px;
        right: 150px;
        width: 21%;
    }

    #artist-circle2 {
        position: absolute;
        top: -75px;
        right: 10px;
        width: 13%;
    }

    #artist-circle3 {
        position: absolute;
        right: 260px;
        bottom: 310px;
        width: 16%;
    }

    #artist-circle4 {
        position: absolute;
        right: 15px;
        bottom: 305px;
        width: 23%;
    }

    #artist-circle5 {
        position: absolute;
        right: 315px;
        bottom: 95px;
        width: 22%;
    }

    #artist-circle6 {
        position: absolute;
        right: 170px;
        bottom: 180px;
        width: 15%;
    }

    #artist-circle7 {
        position: absolute;
        right: -80px;
        bottom: 70px;
        width: 25%;
    }

    .scroll-slide-1 {
        position: relative;
        margin-right: 50px;
    }

    .scroll-slide-2 {
        position: relative;
        margin-right: 50px;
    }

    .scroll-slide-3 {
        position: relative;
    }
    .scroll-slide-1::before {
        content: "";
        width: 218px;
        height: 218px;
        position: absolute;
        top: 55px;
        left: -100px;
        background: url("/assets/images/ucc/scroll-slide-icon-1.png");
    }

    .scroll-slide-2::before {
        content: "";
        width: 163px;
        height: 170px;
        position: absolute;
        top: -25px;
        right: -70px;
        z-index: 10;
        background: url("/assets/images/ucc/scroll-slide-icon-2.png");
    }

    .scroll-slide-3::before {
        content: "";
        width: 213px;
        height: 220px;
        position: absolute;
        bottom: 70px;
        right: -100px;
        background: url("/assets/images/ucc/scroll-slide-icon-3.png");
    }

    .font-size-8 {
        font-size: 8px;
    }

    .font-size-10 {
        font-size: 10px;
    }

    .font-size-12 {
        font-size: 12px;
    }

    .font-size-14 {
        font-size: 14px;
    }

    .font-size-16 {
        font-size: 16px;
    }

    .font-size-17 {
        font-size: 17px;
    }

    .font-size-20 {
        font-size: 20px;
    }

    .font-size-22 {
        font-size: 22px;
    }

    .font-size-24 {
        font-size: 24px;
    }

    .font-size-30 {
        font-size: 30px;
    }

    .font-size-32 {
        font-size: 32px;
    }

    .font-size-36 {
        font-size: 36px;
    }

    .font-size-40 {
        font-size: 40px;
    }

    .font-size-48 {
        font-size: 48px;
    }


}

@keyframes slide-in-up {
    0% {
        -webkit-transform: translateY(400px);
        transform: translateY(400px);
        opacity: 0.3;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.scrolled {
    animation: slide-in-up 0.4s ease-in-out both;
}
.scrolled2 {
    animation: fadein 3s ease-in-out both;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1 !important;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 40%;
    }
    100% {
        opacity: 1;
    }
}