<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restapi.Restfull.API.Server.interfaces.mappers.ArtistMapper">
    <select id="getAllArtists" resultType="Artist">
        select *
        from artist
        ORDER BY reg_date DESC
    </select>
    <insert id="insertArtist" useGeneratedKeys="true" keyProperty="artist_no">
        insert into artist(user_no, artist_name, bank_name, bank_account, bank_owner, email, artist_phone, main_img,
                           reg_date, `explain`, artist_private, hashtag, artist_profile_img, recent_act_date,
                           loudsourcing_push)
        VALUES (#{user_no}, #{artist_name}, #{bank_name}, #{bank_account}, #{bank_owner}, #{email}, #{artist_phone},
                #{main_img}, #{reg_date}, #{explain}, #{artist_private}, #{hashtag}, #{artist_profile_img},
                #{recent_act_date}, #{loudsourcing_push})
    </insert>
    <select id="getArtistByUserNo" resultType="Artist">
        select *
        from artist
        where user_no = #{user_no}
    </select>
    <select id="getArtistByArtistNo" resultType="Artist">
        select *
        from artist
        where artist_no = #{artist_no}
    </select>
    <update id="updateArtist">
        update artist
        SET artist_name=#{artist_name},
            bank_name=#{bank_name},
            bank_account=#{bank_account},
            bank_owner=#{bank_owner},
            email=#{email},
            artist_phone=#{artist_phone},
            main_img=#{main_img},
            `explain`=#{explain},
            artist_private=#{artist_private},
            hashtag=#{hashtag},
            artist_profile_img=#{artist_profile_img},
            fan_number=#{fan_number},
            visit_today=#{visit_today},
            recent_act_date=#{recent_act_date}
        WHERE artist_no = #{artist_no}
    </update>
    <delete id="deleteArtist">
        delete
        from artist
        WHERE artist_no = #{artist_no}
    </delete>
    <select id="getArtistListByPopular" resultType="Artist">
        select *
        from artist
        order by fan_number desc
        limit 15
    </select>
    <select id="getNewArtistList" resultType="Artist">
        select *
        from artist
        order by reg_date desc
        limit 15
    </select>
    <select id="searchArtist" resultType="Artist">
        select *
        from artist
        where artist_name like #{search}
           or hashtag like #{search}
    </select>
    <select id="searchArtistLimit" resultType="Artist">
        select *
        from artist
        where artist_name like #{search}
           or hashtag like #{search}
        LIMIT 15
    </select>
    <select id="getAllArtistListSortByRecentRefresh" resultType="Artist">
        select *
        from artist
        WHERE artist_no <![CDATA[<]]> #{artist_no}
          AND recent_act_date <![CDATA[<=]]> #{recent_act_date}
        order by recent_act_date DESC, artist_no DESC
        limit 10
    </select>
    <select id="getAllArtistListSortByNameRefresh" resultType="Artist">
        select *
        from artist
        WHERE artist_no <![CDATA[<]]> #{artist_no}
          AND artist_name <![CDATA[>]]> #{artist_name}
        order by artist_name, artist_no DESC
        limit 10
    </select>
    <select id="getAllArtistListSortByFanNumRefresh" resultType="Artist">
        select *
        from artist
        WHERE artist_no <![CDATA[<]]> #{artist_no}
          AND fan_number <![CDATA[<=]]> #{fan_number}
        order by fan_number DESC, artist_no DESC
        limit 10
    </select>
    <select id="getAllArtistListSortByRecent" resultType="Artist">
        select *
        from artist
        order by recent_act_date DESC, artist_no DESC
        limit 10
    </select>
    <select id="getAllArtistListSortByName" resultType="Artist">
        select *
        from artist
        order by artist_name, artist_no DESC
        limit 10
    </select>
    <select id="getAllArtistListSortByFanNum" resultType="Artist">
        select *
        from artist
        order by fan_number DESC, artist_no DESC
        limit 10
    </select>
    <update id="updateArtistPush">
        update artist
        SET loudsourcing_push=#{loudsourcing_push}
        WHERE artist_no = #{artist_no}
    </update>
    <select id="getSubscribedArtistListSortRecent" resultType="Artist" parameterType="ArrayList">
        select * from artist WHERE artist_no in
        <choose>
            <when test="artist_list.size != 0">
                <foreach collection="artist_list" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </when>
        </choose>
        ORDER BY recent_act_date DESC LIMIT 10
    </select>
    <select id="getAllArtistForCDN" resultType="Artist">
        select * from artist
    </select>
</mapper>