<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restapi.Restfull.API.Server.interfaces.mappers.ArtistMapper">
    <select id="getAllArtists" resultType="Artist">
        select * from artist
    </select>
    <insert id="insertArtist" useGeneratedKeys="true" keyProperty="artist_no">
        insert into artist(user_no, artist_name, bank_name, bank_account, bank_owner, email, artist_phone, fan_main_img, reg_date, fan_explain, artist_private, hashtag, artist_profile_img)
        VALUES (#{user_no}, #{artist_name}, #{bank_name}, #{bank_account}, #{bank_owner}, #{email}, #{artist_phone}, #{fan_main_img}, now(), #{fan_explain}, #{artist_private}, #{hashtag}, #{artist_profile_img})
    </insert>
    <select id="getArtistByUserNo" resultType="Artist">
        select * from artist where user_no=#{user_no}
    </select>
    <select id="getArtistByArtistNo" resultType="Artist">
        select * from artist where artist_no=#{artist_no}
    </select>
    <update id="updateArtist">
        update artist SET artist_name=#{artist_name}, bank_name=#{bank_name}, bank_account=#{bank_account}, bank_owner=#{bank_owner}, email=#{email}, artist_phone=#{artist_phone}, fan_main_img=#{fan_main_img}, fan_explain=#{fan_explain}, artist_private=#{artist_private}, hashtag=#{hashtag}, artist_profile_img=#{artist_profile_img}, fan_number=#{fan_number}, fan_visit_today=#{fan_visit_today}
        WHERE artist_no=#{artist_no}
    </update>
    <delete id="deleteArtist">
        delete from artist WHERE artist_no=#{artist_no}
    </delete>
    <select id="getArtistListByPopular" resultType="Artist">
        select * from artist order by fan_number desc limit 10
    </select>
    <select id="getNewArtistList" resultType="Artist">
        select * from artist order by reg_date desc limit 10
    </select>
    <select id="searchArtist" resultType="Artist">
        select * from artist where artist_name like #{search} or hashtag like #{search}
    </select>
    <select id="searchArtistLimit" resultType="Artist">
        select * from artist where artist_name like #{search} or hashtag like #{search} LIMIT 15
    </select>
</mapper>