<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restapi.Restfull.API.Server.interfaces.mappers.BannerAdMapper">
    <select id="getBannerList" resultType="BannerAd">
        select * from bannerad WHERE status=#{status} order by revise_date DESC LIMIT 4
    </select>
    <insert id="insertBanner" useGeneratedKeys="true" keyProperty="banner_ad_no">
        insert into bannerad(img, reg_date, revise_date, status)
        VALUES (#{img}, #{reg_date}, #{revise_date}, #{status})
    </insert>
    <update id="updateBanner">
        update bannerad SET img=#{img}, status=#{status}, revise_date=#{revise_date}
    </update>
    <delete id="deleteBanner">
        delete from bannerad WHERE banner_ad_no=#{banner_ad_no}
    </delete>
</mapper>