<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restapi.Restfull.API.Server.interfaces.mappers.BoardCommentMapper">
    <select id="getCommentListByBoardNo" resultType="BoardComment">
        select * from boardcomment where board_no=#{board_no} order by reg_date DESC
        LIMIT #{start_index}, 10
    </select>
    <select id="getCommentListByUserNo" resultType="BoardComment">
        select * from boardcomment where user_no=#{user_no}
    </select>
    <insert id="insertComment" useGeneratedKeys="true" keyProperty="comment_no">
        insert into boardcomment(user_no, board_no, content, reg_date, type, commenter_name, profile_img, comment_private)
        VALUES (#{user_no}, #{board_no}, #{content}, #{reg_date}, #{type}, #{commenter_name}, #{profile_img}, #{comment_private})
    </insert>
    <delete id="deleteComment">
        delete from boardcomment where comment_no=#{comment_no}
    </delete>
    <select id="getCommentByCommentNo" resultType="BoardComment">
        select * from boardcomment where comment_no=#{comment_no}
    </select>
    <update id="updateComment">
        update boardcomment SET comment_private=#{comment_private}, commenter_name=#{commenter_name}, profile_img=#{profile_img}
        WHERE comment_no=#{comment_no}
    </update>
    <select id="getCommentNumberByBoardNo" resultType="BoardComment">
        select * from boardcomment WHERE board_no=#{board_no}
    </select>
</mapper>