<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restapi.Restfull.API.Server.interfaces.mappers.BoardMapper">
    <select id="getBoardListByArtistNo" resultType="Board">
        select * from board WHERE artist_no=#{artist_no} order by revise_date DESC
    </select>
    <select id="getBoardByBoardNo" resultType="Board">
        select * from board where board_no=#{board_no}
    </select>
    <insert id="insertBoard" useGeneratedKeys="true" keyProperty="board_no">
        insert into board(artist_no, title, content, reg_date, revise_date, board_private, thumbnail, artist_name, artist_profile_img, fan_number)
        VALUES (#{artist_no}, #{title}, #{content}, #{reg_date}, #{revise_date}, #{board_private}, #{thumbnail}, #{artist_name}, #{artist_profile_img}, #{fan_number})
    </insert>
    <update id="updateBoard">
        update board SET title=#{title}, content=#{content}, revise_date=#{revise_date}, thumbnail=#{thumbnail}, artist_name=#{artist_name}, artist_profile_img=#{artist_profile_img}
        WHERE board_no=#{board_no}
    </update>
    <delete id="deleteBoard">
        delete from board where board_no=#{board_no}
    </delete>
    <update id="updateBoardByComment">
        update board SET comment_number = #{comment_number}
        WHERE board_no = #{board_no}
    </update>
    <update id="updateBoardByLike">
        update board SET like_number = #{like_number}
        WHERE board_no = #{board_no}
    </update>
    <update id="updateBoardByVisit">
        update board SET visit_number=#{visit_number} WHERE board_no=#{board_no}
    </update>
    <update id="updateBoardByFankok">
        update board SET fan_number=#{fan_number} WHERE board_no=#{board_no}
    </update>
    <select id="getRecentBoardList" resultType="Board">
        select * from board order by reg_date DESC limit 15
    </select>
    <select id="searchBoard" resultType="Board">
        select * from board WHERE title like #{query} or artist_name like #{query}
        LIMIT #{start_index}, 10
    </select>
    <select id="getBoardListSortByRegDate" resultType="Board">
        select * from board order by reg_date DESC
        LIMIT #{start_index}, 10
    </select>
    <select id="getBoardListSortByFanNumber" resultType="Board">
        select * from board order by fan_number DESC
        LIMIT #{start_index}, 10
    </select>
    <select id="getBoardListSortByTitle" resultType="Board">
        select * from board order by title
        LIMIT #{start_index}, 10
    </select>
    <select id="getBoardListByArtistNoForRefresh" resultType="Board">
        select * from board WHERE artist_no=#{artist_no} order by reg_date DESC
        LIMIT #{start_index}, 10
    </select>
    <update id="insertFiles">
        update board SET thumbnail=#{thumbnail}
        WHERE board_no=#{board_no}
    </update>
</mapper>