<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restapi.Restfull.API.Server.interfaces.mappers.ExchangeRateMapper">
    <insert id="insertExchangeRate" keyProperty="er_no" useGeneratedKeys="true">
        insert into exchange_rate (json, reg_date)
        VALUES (#{json}, #{reg_date})
    </insert>
    <select id="getExchangeRate" resultType="String">
        select json
        from exchange_rate
        WHERE TIMESTAMPDIFF(HOUR, reg_date, #{reg_date}) <![CDATA[<]]> 24 AND reg_date <![CDATA[<]]> #{reg_date}
    </select>
</mapper>