<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restapi.Restfull.API.Server.interfaces.mappers.InquiryMapper">
    <insert id="insertInquiry" useGeneratedKeys="true" keyProperty="inquiry_no">
        insert into inquiry(user_no, reported_user_no, title, content, type, phone, email, is_answered, reg_date, file)
        VALUES (#{user_no}, #{reported_user_no}, #{title}, #{content}, #{type}, #{phone}, #{email}, #{is_answered}, #{reg_date}, #{file})
    </insert>
    <delete id="deleteInquiry">
        delete from inquiry WHERE inquiry_no=#{inquiry_no}
    </delete>
    <update id="answerInquiry">
        update inquiry SET answer_content=#{answer_content}, answer_date=#{answer_date}, is_answered=#{is_answered}
        WHERE inquiry_no=#{inquiry_no}
    </update>
    <select id="getInquiryListByUserNo" resultType="Inquiry">
        select * from inquiry WHERE user_no=#{user_no} order by reg_date DESC
        LIMIT #{start_index}, 10
    </select>
    <select id="getInquiryListByAnswerStatus" resultType="Inquiry">
        select * from inquiry WHERE is_answered=#{is_answered}
    </select>
</mapper>
