<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restapi.Restfull.API.Server.interfaces.mappers.NotificationMapper">
    <select id="getNotification" resultType="Notification">
        select * from notification WHERE user_no=#{user_no} ORDER BY reg_date DESC LIMIT #{start_index}, 10
    </select>
    <insert id="insertNotification" useGeneratedKeys="true" keyProperty="notification_no">
        insert into notification(user_no,  type, content, reg_date, next)
        VALUES (#{user_no}, #{type}, #{content}, #{reg_date}, #{next} )
    </insert>
    <delete id="deleteNotification">
        delete from notification WHERE notification_no=#{notification_no}
    </delete>
</mapper>